body {
  background-color: rgb(179, 204, 146);
}

li {
  color: rgb(53, 53, 53);
}

p {
  color: rgb(53, 53, 53);
}

.Home {
  font-size: 24px;
  font-weight: bold;
  color: rgb(53, 53, 53);
}

h1,
h2,
h3 {
  color: rgb(165, 148, 0);
}
