body {
  background-color: rgb(179, 204, 146);
}

h1 {
  text-align: center;
  margin-bottom: 3cm;
  font-family: "Times New Roman", "Verdana", sans-serif;
  color: rgb(61, 95, 206);
  font-size: 42px;
}

.child {
  width: 340px;
  margin: 0 auto;
}

.lasagna {
  color: rgb(161, 69, 46);
}

.fluffy {
  color: rgb(165, 148, 0);
}

.egg {
  color: rgb(26, 122, 55);
}

li {
  font-size: 22px;
}
