body {
  background-color: rgb(179, 204, 146);
}

h1 {
  text-align: center;
  margin-bottom: 3cm;
  font-family: "Times New Roman", "Verdana", sans-serif;
  color: rgb(61, 95, 206);
}

.child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
}

.lasagna {
  color: rgb(161, 69, 46);
}

.fluffy {
  color: rgb(165, 148, 0);
}

.egg {
  color: rgb(26, 122, 55);
}
