body {
  background-color: rgb(179, 204, 146);
  font-family: "Verdana", "Times New Roman", sans-serif;
}

li {
  font-size: 18px;
  color: rgb(53, 53, 53);
}

h1,
h2,
h3 {
  color: rgb(161, 69, 46);
}

p {
  color: rgb(53, 53, 53);
}

.Home {
  font-size: 24px;
  font-weight: bold;
  color: rgb(53, 53, 53);
  align-self: flex-end;
}
